@import url("assets/fonts/fonts.css");
@import url("styles/fw-presets.css");
@import url("styles/fw-classes.css");
@import url("styles/assets.css");


/*** VARIABLES */
:root {

    --ct-w: 1024px;

    --py-sec: 48px;
    --py-sec-sm: 24px;
    --py-sec-xs: 20px;
    --p-card: 16px;

    --ff-text: "Raleway";
    --ff-hd: var(--ff-text);

    --fs-text: 16px;
    --fs-text-sm: 14px;
    --fs-text-lg: 22px;
    --fs-text-xl: 28px;
    --lh-text: 1.5;

    --fs-h1: 40px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --fw-text: var(--fw-regular);
    --fw-hd: var(--fw-bold);

    --clr-text: black;
    --clr-hd: black;
    --bg-page: white;
    --clr-primary: hsl(39, 100%, 50%);
    --clr-primary-lighter: hsl(39, 100%, 75%);
    --clr-primary-light: hsl(39, 100%, 60%);
    --clr-secondary: hsl(66, 45%, 75%);
    --clr-secondary-light: hsl(66, 45%, 85%);
    --clr-button: var(--clr-primary-light);
    --clr-button-hover: var(--clr-primary);
}

header {
    background-color: var(--clr-primary);
}
footer {
    background-color:black;
    color: var(--clr-primary);
}
footer a {
    color: #ddd;
}
main {
    overflow: hidden;
}
.logo {
    height: 60px;
}
nav .burger-nav {
    height: 36px;
    cursor: pointer;
}
.restaurant-hero-img {
    height: 350px;
    background-image: url(assets/img/header-hero.jpg);
}
.restaurant-logo {
    height: 120px;
}
.restaurant-logo-link {
    position: absolute;
    top: -50px;
    right: 0;
}
.restaurant-review-summary {
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
}
.restaurant-nav-bar {
    background-color: var(--clr-primary-lighter);
    /* overflow-x: auto;
    scrollbar-width: thin; */
}
.category-nav {
    flex-wrap: wrap;
    row-gap: var(--sp-05);
}
.category-nav-link {
    font-weight: var(--fw-bold);
    row-gap: var(--sp-05);
    padding: 10px 24px 8px;
    border-radius: 24px;
    background-color: var(--clr-secondary);
    white-space: nowrap;
    /* pointer-events: none; */
}
.category-nav-link:hover {
    background-color: var(--clr-secondary-light);
}
.dishes-category-img {
    position: relative;
    height: 180px;
    border-radius: 9px;
    padding: var(--p-card);
    overflow: hidden;
}
.dishes-category-img h2 {
    color: white;
    font-size: 2.25rem;
    position: absolute;
    bottom: 16px;
}
.dishes-category-img {
    --overlay: rgba(0,0,0,0.3);
}
.dish-item {
    border: solid 1px #ddd;
    border-radius: 9px;
    padding: var(--p-card);
    transition-duration: 175ms;
}
.dish-item:hover {
    background-color: #eee;
}
.dish-title {
    padding-right: 48px;
}
.btn-add-to-cart {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 999rem;
    width: 36px;
    height: 36px;
    font-size: 20px;
    background-color: var(--clr-button-hover);
}
.btn-add-to-cart:hover {
    background-color: var(--clr-button);
}


#cartBtnWrapper {
    position: fixed;
    background-color: var(--clr-secondary);
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}

.cart {
    background-color: #f2f2f2;
    background-color: var(--clr-secondary-light);
    position: sticky;
    top: 0;
    max-height: 100svh;
    padding: 24px 20px 24px 24px;
    --border-color: var(--clr-primary);
    --cart-width: 320px;
    min-width: var(--cart-width);
    max-width: var(--cart-width);
}
body.cart-is-empty :is(#cartTotals, #cartOptions, .order-btn, .empty-cart-btn, #cartBtnWrapper) {
    display: none !important;
}
.cart-header {
    border-bottom: solid 1px var(--border-color);
}
#cartItems {
    overflow: auto;
    scrollbar-width: thin;
    /* scrollbar-color: hsla(0, 68%, 63%,0.7) #333; */
    /* padding-right: 10px; */
    gap: 32px;
}
.cart-item-name {
    margin-bottom: 8px;
}
.cart-item-qty-wrapper {
    font-weight: var(--fw-bold);
    font-size: 20px;
    gap: 18px;
}
.cart-item-qty {
    margin-top: -4px;
}
.cart-btn-qty {
    /* padding-top: 8px; */
    font-weight: var(--fw-bold);
    font-size: 20px;
    transition-duration: 350ms;
    border-radius: 999rem;
    min-width: 24px;
}
.cart-btn-qty:hover {
    background-color: #ddd;
}
.cart-btn-remove {
    margin-left: -24px;
    padding: 4px 12px;
    opacity: 0.7;
}
.cart-btn-remove img {
    height: 18px;
}

.cart-footer {
    border-top: solid 1px var(--border-color);
}
#cartTotal {
    font-weight: var(--fw-bold);
}

#cartOptions {
    border-top: solid 1px var(--border-color);
    padding-top: 16px;
}


@media(max-width: 939px) {
    body.cart-has-items:not(.mobile-cart-active) {
        padding-bottom: 100px;
    }
    body:not(.mobile-cart-active) #cart {
        display: none;
    }
    body.mobile-cart-active {
        overflow: hidden;
    }
    body.mobile-cart-active #cartBtnWrapper {
        display: none;
    }
        #cart {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
    }
    .restaurant-hero-img {
        height: 280px;
    }
    #cart {
        --cart-width: 100%;
    }
    #cartItems {
        flex-grow: 1;
    }
}

@media(max-width: 719px) {
    .restaurant-hero-img {
        height: 240px;
    }
    .restaurant-logo {
        height: 96px;
    }
}
@media(max-width: 511px) {
    .restaurant-logo {
        height: 72px;
    }
    .category-nav {
        column-gap: var(--sp-05);
        font-size: 12px;
    }
}
@media(max-width: 359px) {
    .category-nav-link {
        padding: 10px 20px 8px;
    }
}


@media(min-width: 940px) {
    #cartBtnWrapper {
        display: none;
    }
    #closeCartBtn {
        display: none;
    }
}

@media(min-width: 1516px) {
    main {
        --px-sec: 48px;
    }
}
