@import url("assets/fonts/fonts.css");
@import url("styles/fw-presets.css");
@import url("styles/fw-classes.css");
/*@import url("node_modules\bootstrap\dist\css\bootstrap.min.css");*/
@import url("styles/assets.css");


/*** VARIABLES */
:root {

    --ct-w: 100%;
    /* --px-sec: 24px; */

    --py-sec: 48px;
    --py-sec-sm: 24px;
    --py-sec-xs: 20px;
    --p-card: 16px;

    --ff-text: "Raleway";
    --ff-hd: var(--ff-text);

    --fs-text: 16px;
    --fs-text-sm: 14px;
    --fs-text-lg: 22px;
    --fs-text-xl: 28px;
    --lh-text: 1.5;

    --fs-h1: 40px;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 600;

    --fw-text: var(--fw-regular);
    --fw-hd: var(--fw-bold);

    --clr-primary: orange;
    --clr-text: black;
    --clr-hd: black;
    --bg-page: white;
}

.logo {
    height: 66px;
}
header, footer {
    background-color: var(--clr-primary);
}
.restaurant-hero-img {
    height: 240px;
    background-image: url(assets/img/header-hero.jpg);
}
.header-logo-title {
    /* font-size: var(--fs-text-lg); */
}
.restaurant-logo-link {
    position: absolute;
    top: -33px;
    left: 0;
    right: 0;
    text-align: center;
}

.restaurant-review-summary {
    color: var(--clr-primary);
    font-weight: var(--fw-bold);
}
.restaurant-nav-bar {
    background-color: #ddcc;
}
#restaurantDishCategories a:hover {
    text-decoration: underline;
}
.restaurant-category-img {
    background-image: url(assets/img/header-hero.jpg);
    margin: var(--sp-05);
    height: 100px;
}

.dish-item {
    /* background-color: blanchedalmond; */
    border: solid 1px #ddd;
    margin: var(--sp-05);
}
#DishItems {
    /* border: solid 1px #ddd; */
}
.btn-add-to-cart {
    position: absolute;
    top: 0;
    right: 0;
    border: solid 1px var(--clr-primary);
    padding: var(--sp-05);
}

.cart {
    background-color: #eee;
    width: 320px;
    position: sticky;
    top: 0;
    height: 100%;
    min-height: 100svh;
}
.cart[data-items="0"] #cartTotals {
    display: none !important;
}
.cart:not([data-items="0"]) #cartEmpty {
    display: none !important;
}
#cartItems {
    border-top: solid 1px #ccc;
}
.cart-btn-qty {
    padding: 8px;
}
#cartTotals {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}


@media(min-width: 1516px) {
    :root {
        --px-sec: 32px;
    }
}
