.btn {
    padding: 14px 24px;
    border-radius: 24px;
    font-family: var(--ff);
    font-weight: var(--fw-bold);
    background-color: var(--clr-button);
}
.btn:hover {
    background-color: var(--clr-button-hover);
}
.empty-cart-btn {
    --clr-button: #ddd;
    --clr-button-hover: #ccc;
    font-weight: normal;
}

.order-btn {
    font-size: 14px;
}
#openCartBtn {
    font-size: 16px;
    color: var(--clr-primary);
    --clr-button: black;
    --clr-button-hover: #444;
}
#openCartBtn:hover {
    /* color: black; */
}

#openCartBtn[disabled] {
    font-weight: normal;
    color: var(--clr-button-hover);
    cursor: auto;
}

#closeCartBtn {
    position: fixed;
    top: 8px;
    right: 8px;
    padding: 6px;
    transition-duration: 350ms;
    border-radius: 999rem;
}
#closeCartBtn:hover {
    background-color: var(--clr-primary);
}
